@import '@/src/styles/utils/mixins';

.methodPill {
  background-color: var(--method-pill-bg-color);
  font-family: var(--font-family-mono);
  letter-spacing: 0.03rem;
  padding: 3px 9px 3px 8px;
  font-size: 85%;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 4px;
  margin-bottom: 20px;
  display: inline-block;
  @include generatePxToRem('margin-bottom', 12);
}
